{namespace a=AgoraTeam\Agora\ViewHelpers}
<f:format.nl2br>
    Hello Admin

    there is a new report in your forum from user <b>{report.reporter.firstName} {report.reporter.lastName}</b> with the following text:

    "{report.text}"

    This was a reaction to a post in the thread <b>{report.post.thread.title}</b> in the forum <b>{post.thread.forum.title}</b>.
    Here is the post text the user with the username <b>{report.post.creator.username}</b> posted:
    Deeplink:  <a:link.post post="{report.post}"
                            pageUid="{settings.forumPageUid}"
                            configuration="{forceAbsoluteUrl: 1}"
                            section="post{report.post.uid}">{report.post.thread.forum.title}</a:link.post>

    ----

    "{report.post.text}"
</f:format.nl2br>
