{namespace a=AgoraTeam\Agora\ViewHelpers}
<f:format.nl2br>
    Hello Admin

    there is a new report in your forum from user <b>{report.reporter.firstName} {report.reporter.lastName}</b> with the following text:

    "{report.text}"

    This was a reaction to a post in the thread <b>{report.post.thread.title}</b> in the forum <b>{post.thread.forum.title}</b>.
    Here is the post text the user with the username <b>{report.post.creator.username}</b> posted:
    Deeplink: <a:be.link action="list" controller="Post" extensionName="Agora" pluginName="Forum"
                         arguments="{thread: report.post.thread.uid}"
                         absolute="1" pageUid="{settings.forumPageUid}">{report.post.thread.forum.title}</a:be.link>

    ----

    "{report.post.text}"
</f:format.nl2br>
