{namespace a=AgoraTeam\Agora\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<div class="agoraLatestList">
    <ul class="list-group">
        <f:for each="{latestPosts}" as="latest">
            <li class="list-group-item">
                <div class="text small">
                    <a:link post="{latest}" section="post{latest.uid}">
                        <f:format.crop
                                maxCharacters="{settings.post.cropLatestsPosts}"
                                respectWordBoundaries="true"
                                respectHtml="false">
                            {latest.text -> f:format.raw()}
                        </f:format.crop>
                    </a:link>
                </div>
                <div class="strong h6">
                    <a:link post="{latest}" section="post{post.uid}">
                        {latest.topic}
                    </a:link>
                    <div class="subHeader small">
                        <label class="latestCreator">
                            <f:translate key="tx_agora_domain_model_thread.list_latest.username"/>
                            :
                            {latest.creator.username}
                        </label>
                        <label class="latestTime">

                        </label>
                    </div>
                </div>
            </li>
        </f:for>
    </ul>
</div>
