{namespace a=AgoraTeam\Agora\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:translate key="tx_agora_domain_model_post.confirm_delete" />

<a:thread.editable thread="{post.thread}" user="{user}">
    <a:security.ifIsAuthor object="{post}">
        <f:link.action class="btn btn-default" action="delete" arguments="{post:post}">
            <f:translate key="tx_agora_domain_model_post.delete"/>
        </f:link.action>
    </a:security.ifIsAuthor>
</a:thread.editable>

</html>
