<div class="paginator">
    <f:for each="{pagination}" as="paginator">
        <f:if condition='{paginator.class}'>
            <f:then>
                <f:if condition='{paginator.class} == "active"'>
                    <span class='pagination-page'>{paginator.value}</span>
                </f:if>
                <f:if condition='{paginator.class} == "first"'>
                    <f:link.action action='list' arguments='{page: paginator.value, thread: thread}'>
                        <span class='pagination-page'><<</span>
                    </f:link.action>
                </f:if>
                <f:if condition='{paginator.class} == "last"'>
                    <f:link.action action='list' arguments='{page: paginator.value, thread: thread}'>
                        <span class='pagination-page'>>></span>
                    </f:link.action>
                </f:if>
            </f:then>

            <f:else>
                <f:link.action action='list' arguments='{page: paginator.value, thread: thread}'>
                    <span class='pagination-page'>{paginator.value}</span>
                </f:link.action>
            </f:else>
        </f:if>
    </f:for>
</div>
