{namespace a=AgoraTeam\Agora\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">


<f:section name="main">
    <f:render section="reply" arguments="{_all}" />
    <f:render section="quote" arguments="{_all}" />
    <f:render section="moderate" arguments="{_all}" />
    <f:render section="favorize" arguments="{_all}" />
    <f:render section="report" arguments="{_all}" />
    <f:render section="rating" arguments="{_all}" />
</f:section>

<!--
 #
 # RATING BUTTON
 #--------------------------------------
-->
<f:section name="rating">
    {post.ratingCount}
    <f:link.action action="rate" pageType="1513672176" pluginName="Ajax" controller="Rating"
                   arguments="{post:post, rateType:'up'}" noCacheHash="1">UP
    </f:link.action>
    <f:link.action action="rate" pageType="1513672176" pluginName="Ajax" controller="Rating"
                   arguments="{post:post, rateType:'down'}" noCacheHash="1">DOWN
    </f:link.action>
</f:section>

<!--
 #
 # REPLY BUTTON
 #--------------------------------------
-->
<f:section name="reply">

    <f:if condition="!{post.thread.closed}">
        <a:thread.editable thread="{post.thread}" user="{user}">
            <f:link.action class="btn btn-default" action="new"
                           arguments="{thread:post.thread, quotedPost:post}">
                <f:translate key="tx_agora_domain_model_post.reply"/>
            </f:link.action>
        </a:thread.editable>
    </f:if>

</f:section>

<!--
 #
 # QUOTE BUTTON
 #--------------------------------------
-->
<f:section name="quote">

    <f:if condition="!{post.thread.closed}">
        <a:thread.editable thread="{post.thread}" user="{user}">
            <f:link.action class="btn btn-default" action="new"
                           arguments="{thread:post.thread, quotedPost:post, mode:'quote'}">
                <f:translate key="tx_agora_domain_model_post.quote"/>
            </f:link.action>
        </a:thread.editable>
    </f:if>

</f:section>

<!--
 #
 # MODERATE BUTTON
 #--------------------------------------
-->
<f:section name="moderate">
    <a:thread.editable thread="{post.thread}" user="{user}">
        <a:security.ifIsAuthor object="{post}">
            <f:link.action class="btn btn-default" action="edit" arguments="{originalPost:post}">
                <f:translate key="tx_agora_domain_model_post.edit"/>
            </f:link.action>
            <f:link.action class="btn btn-default" action="confirmDelete" arguments="{post:post}">
                <f:translate key="tx_agora_domain_model_post.delete"/>
            </f:link.action>
        </a:security.ifIsAuthor>
    </a:thread.editable>
</f:section>


<!--
 #
 # REPORT BUTTON
 #--------------------------------------
-->
<f:section name="report">
    <f:link.action class="btn btn-danger" controller="Report" action="new" arguments="{post:post}">
        <f:translate key="tx_agora_domain_model_post.report"/>
    </f:link.action>
</f:section>


<!--
 #
 # EDIT BUTTON
 #--------------------------------------
-->
<f:section name="favorize">

    <f:security.ifAuthenticated>
        <f:if condition="{a:postHasFavoriteUser(post:post,user:user)}">
            <f:then>
                <f:link.action class="btn btn-default" controller="User" action="removeFavoritePost"
                               arguments="{post:post}">
                    <f:translate key="tx_agora_domain_model_post.removeFavorite"/>
                </f:link.action>
            </f:then>
            <f:else>
                <f:link.action class="btn btn-default" controller="User" action="addFavoritePost"
                               arguments="{post:post}">
                    <f:translate key="tx_agora_domain_model_post.favorite"/>
                </f:link.action>
            </f:else>
        </f:if>
    </f:security.ifAuthenticated>

</f:section>


</html>
