{namespace a=AgoraTeam\Agora\ViewHelpers}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    
    <h2 class="root-title mb-4">Search forum</h2>
      
	<f:render partial="Search/AdvancedSearchBox" arguments="{_all}" />
 
 	<div class="container-fluid">
	 	<div class="row forum-results">
	 		
	 		<f:if condition="{search.sword} != ''">
				<f:then>
					<h3 class="mb-4 sub-title">Results for searced word <b>"{search.sword}"</b></h3>
				</f:then>
				<f:else>
					<h3 class="mb-4 sub-title">Results</b></h3>
				</f:else>
			</f:if>
	 		
			<f:if condition="{results -> f:count()} > 0">
				<f:then>
					 <f:widget.paginate objects="{results}" as="paginatedResults" configuration="{itemsPerPage: '{settings.search.itemsPerPage}', insertAbove: 0, insertBelow: 1, addQueryStringMethod: 'GET'}">
	  					<f:for each="{paginatedResults}" as="result" iteration="iterator">
							<div class="result-item mb-4">
 								<f:if condition="{result.text}">
									<f:then>
 										<strong class="result-title h3 mb-1 d-block">
											<f:format.raw>{a:searchSword(sword: search.sword, data: result.thread.forum.title, maxCharacters: 0)}</f:format.raw> > <f:format.raw>{a:searchSword(sword: search.sword, data: result.thread.title, maxCharacters: 0)}</f:format.raw>
										</strong>
 										<p><f:format.raw>{a:searchSword(sword: search.sword, data: result.text, maxCharacters: 190)} </f:format.raw></p>
 										<div class="read-more-button-wrap">
 											<f:link.action pageUid="{settings.forum.listPid}" class="btn btn-primary mb-3" action="list" controller="Post" arguments="{thread:result.thread.uid}">
										        <span class="btn-inner">Read the post</span>
										    </f:link.action>
 										</div>	
									</f:then>
									<f:else>
 										<strong class="result-title h3 mb-1 d-block">
											<f:format.raw>{a:searchSword(sword: search.sword, data: result.forum.title, maxCharacters: 0)}</f:format.raw> > <f:format.raw>{a:searchSword(sword: search.sword, data: result.title, maxCharacters: 0)}</f:format.raw>
										</strong>
										<div class="read-more-button-wrap">
    										<f:link.action pageUid="{settings.forum.listPid}" class="btn btn-primary mb-3" action="list" controller="Thread" arguments="{forum:result.forum}">
										        <span class="btn-inner">Go to headline overview</span>
										    </f:link.action>
										</div>
 									</f:else>
								</f:if>
   							</div>
			 			</f:for>	
			 		</f:widget.paginate>		
				</f:then>
				<f:else>
					<div class="no-results">
						<p>For this criteria results not found.</p>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>
 
</html>